@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

.App {
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
}

.appLeft {
  width: 50%;
  height: 100vh;
}

.background {
  width: 75%;
  height: 100vh;
  background: url('/images/bg-main-desktop.png');
  background-size: cover;
}